html  {
  overflow-y: hidden;
}

body {
	height: 100%;
	overflow: hidden;
	}

div#maintext {
	overflow-y: auto;
	height: 100%;
}

#viewlinks {
	position: absolute;
	left: 0px;
	top: 300px; 
}

#navigate {
	position: absolute;
}
